@page "/vybaveni"
@page "/co"


<h3 class="nadpis">Toto má třídu nadpis, jenž je definována v app.cs</h3>

<a class="btn btn-info" href="/">Tlačítko s bootstrap classou</a>

<div class=" bg-green-500 text-red-600 w-max rounded-xl p-3 my-4">
 <div>Tailwind třídy:</div> 
 <div>bg-green-500 -  zelené pozadí</div>
 <div>text-red-400 -  červený text</div>
 <div>w-max -  obsah je jenom jenom do šíře textu</div>
 <div>rounded-xl -  oblé rohy</div>
 <div>p-3 -  vnitřní odsazení (padding)</div>
 <div>my-4 -  vnější odsazení (margin) (od ostatních prvků) nahoře a dole</div>
</div>


@code{

}
